{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home bank/Register</title>
    <link rel="stylesheet" href="{% static 'mcss/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
  <div>
	<nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>
      <a href="index" class="logo">Home Bank</a>
      <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="index">Home</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <i class="uil uil-search search-icon" id="searchIcon"></i>
      
    </nav>
    <body>
      <div class="container">
        <form action="fgtmpin">
        <div class="field">
            <div class="label">Security Questions?</div>
            <select name="scq">
              <option value="0">Mother's maiden name.</option> 
              <option value="1">Name of town where you were born.</option> 
              <option value="2">Name of first pet.</option>
            </select>
          </div>
          <div class="field">
            <div class="label">Answer</div>
            <input type="text" name="sa">
          </div>
          <div class="field">
            <div class="label">Username</div>
            <input type="text" name="uname">
          </div>
          <div class="field btns">
            <button class="submit">Submit</button>
          </div>
        </form>
        </div>
        {% if a == 1 %}
        <form action="resetmpin">
          new mPIN:<input type="text" name="pass">
          confirm mPIN:<input type="text" name="c_pass">
          <input type="submit">
        </form>
        {% endif %}
    </body>
</html>